@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    background: linear-gradient(90deg, #9796F0 0%, #FBC7D4 100%);
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: linear-gradient(90deg, #77A1D3 0%, #79CBCA 50%, #E684AE 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 35px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}

.logo::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{ 
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}



.home {
    height: 90vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    justify-content: space-around;
    
}

.home-content{
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 900;
    line-height: 1.2;
    -webkit-text-stroke: 0.5px black;
  }

.home-content h3{
    font-size: 30px;
    font-weight: 700;
    color: #1d2fcf;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.home-content p{
    font-size: 18px;
    margin: 20px 0 40px;
    color: black;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover{
    color: #00abf0;
}
/* 
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
} */

/* .btn-box a:nth-child(2):hover {
    color: #081b29;
} */

/* .btn-box a:nth-child(2)::before{
    background: #00abf0;
} */

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover{
    color: #081b29;
}

.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover::before{
    width: 100%;
}

.photo{
    border-radius: 50%;
    overflow: hidden;
    width: 450px;
    height: 450px;
    opacity: 80%;
    order: -1;
}

.photo-perfil{
    width: 100%;
    object-fit: contain;
    
}

.weeks{
    background-color: #081b29;
    color: white;
    padding: 50px 20px;
}

.weeks .content-weeks{
    max-width: 1100px;
    margin: auto;
}

.weeks h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
    font-weight: bold;
}

.weeks a{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
    color: white;

}

.weeks .fila{
    display: flex;
    justify-content: space-between;
}

.weeks .fila .col{
    width: 49%;
    padding: 0 20px;
}

.weeks .fila .col h3{
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    text-align: center;
}

.weeks .fila .izquierda{
    border-right: 2px solid #00abf0;
}

.weeks .fila .derecha{
    border-left: 2px solid #00abf0;
}

.weeks .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    position: relative;
}

.weeks .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
    color: #081b29;
}

.weeks .fila .item .casa{
    color: #00abf0;
    font-size: 22px;
    font-weight: bold;
    display: block;
}

.weeks .fila .item .fecha{
    display: block;
    color: #00abf0;
    margin-bottom: 10px;
}

.weeks .fila .item p{
    line-height: 24px;
    color: #081b29;
}

.weeks .fila .izq{
    border-right: 2px solid #00abf0;
    margin-right: 20px;
}

.weeks .fila .der{
    border-left: 2px solid #00abf0;
    margin-left: 20px;
}

.weeks .fila .item .conectori{
    height: 2px;
    background-color: #00abf0;
    width: 47px;
    position: absolute;
    top: 50%;
    right: -47px;
    z-index: 5;
}

.weeks .fila .item .conectori .circuloi{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00abf0;
    float: right;
    position: relative;
    bottom: 4px;
}

.weeks .fila .item .conectord{
    height: 2px;
    background-color: #00abf0;
    width: 47px;
    position: absolute;
    top: 50%;
    left: -47px;
    z-index: 5;
}

.weeks .fila .item .conectord .circulod{
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #00abf0;
    float: left;
    position: relative;
    bottom: 4px;
}

.images{
    background-color: whitesmoke;
    color: #081b29;
    padding: 50px 20px;
}
.images .content-seccion{
    max-width: 1100px;
    margin: auto;
}

.images h2{
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    padding: 20px 0;
}

.images .galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.images .galeria .proyecto{
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
    background-color: #081b29;
}

.images .galeria .proyecto img{
    width: 100%;
    display: block;
}

.images .galeria .proyecto .overlay{
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
}
.images .galeria .proyecto .overlay h3{
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    color: #00abf0;
}

.images .galeria .proyecto .overlay p{
    text-align: justify;
    padding: 20px;
    color: whitesmoke;
}

/*KEYFRAMES ANIMATION*/
@keyframes showRight{
    100%{
        width: 0;
    }
}

@media screen and (max-width: 1400px) {
  .header {
    padding: 20px 2%; 
  }

  .photo {
    display: none; 
  }

  .photo-perfil {
    width: 100%; 
  }

  .navbar {
    flex-direction: row; 
    align-items: flex-start;
  }

  .navbar a {
    margin-left: 10px;
    margin-right: 10px;  
    margin-top: 10px;
    display: block;
  }
}
