body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.content-weeks2{
  display: flex ;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 126, 136);
  margin: 0 auto;
}
#title-content{
  padding-top:20px;
  padding-bottom: 20px;
  color: black;


}
.list-weeks{
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
}
#subtitle-content{
  text-decoration: none;
  color: white;

}
.emmet-cont{
  margin: 20px;


}